@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --blanco: #ffff;
  --negro: #000000;
  --gris: #c4c4c4;
  --gris1: #474a56;
  --gris2: #d2d7ed;
  --gris3: #DCD6F7;
  --azul: #6c79db;
  /*GENERAL*/
  --azul1: #f4eeff;
  --azul2: #dcd6f7;
  --azul3: #a6b1e1;
  --azul4: #424874;
  /*ADMIN*/
  --verde1: #d4ecdd;
  --verde2: #345b63;
  --Verde3: #152d35;
  --verde4: #112031;
  /*VENDEDOR*/
  --rosa1: #ff9898;
  --rosa2: #cf455c;
  --rosa3: #971549;
  --rosa4: #470031;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.nav__cont{
    height: 70px;
    width: 100%;
    background: var(--gris3);
    padding: 10px;
}

.nav__cont img{
    width: 90px;
    height: 45px;
    margin-top: 3px;
    margin-left: 30px;
}

.bg-img{
    background-image: url(/IMG/ne.jpg);
    height: 118vh;
    background-size: cover;
    background-position: center;
}

.login__container{
    width: 500px;
    height: 100vh;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 999;
    padding: 60px 32px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
}

.login__container h1{
    margin-top: -30px;
    margin-bottom: 10px;
}

.login__container a{
    text-decoration: none;
    color: var(--azul4);
    font-weight: bold;
}

.login__container a:hover{
    text-decoration: underline;
}

.login__container p{
    padding: 10px 0px 10px;
    text-align: justify;
}


.login__container h4:first-of-type{
    margin-top: 20px;
}

.login__container h4{
    padding-bottom: 7px;
    font-weight: normal;
    color: var(--negro);
}
 
.login__container input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--gris3);
    background: var(--gris3);
    outline: none;
    padding: 10px;
    font-size: 17px;
    color: var(--negro);
    margin-bottom: 10px;
}

.login__container input::placeholder{
    visibility: hidden;
}

.login__container button{
    height: 40px;
    width: 70%;
    margin-top: 10px;
    border-radius: 7px;
    margin-left: 3.8rem;
    color: var(--blanco);
    background: var(--azul4);
    border: none;
    font-weight: bolder;
    font-size: 15px;
}

.login__container label{
    color: var(--negro);
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
}

.login__container button:nth-of-type(2){
    background: orange;
}

.login__container button:last-of-type{
    background: #1877f2;
}

.login__container button:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 576px){
    .bg-img{
        background-image: url(/IMG/ne.jpg);
        height: 102vh;
    }
    
    .login__container{
        width:310px;
        height: 87vh;
        top: 62%;
    }  
    
    .login__container h1{
        text-align: center;
    }

    .login__container p{
        font-size: 14.3px;
        text-align: left;
    }

    .login__container p:last-of-type{
        font-size: 12.5px;
        text-align: left;
        margin-left: 30px;
    }

    .login__container p:nth-of-type(3){
        display: none;
    }

    .login__container h4{
        display: none;
    }

    .login__container input{
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .login__container input:last-of-type{
        margin-top: 60px;
        margin-left: -238px;
    }

    .login__container input::placeholder{
        visibility: visible;
    }

    .login__container button{
        margin-left: 2rem;
    }

}

